#content h1 {
    font-size: 62px;
    margin-block-end: 0em;
}

#content .user, #content .created_at {
    display: inline;
    text-decoration: none;
    color: #e4ba00;
    opacity:1;
    font-size: 17px;
    font-weight: 600;
    transition: 200ms;
    margin-right: 25px;
}

#content .description {
    margin-top: 40px;
    text-align: justify;
    overflow-wrap: break-word;
    hyphens: manual;
}

#content .ingredients {
    margin-block-start: 0;
    list-style-type: disc;
    padding-left: 25px;
    font-size: 18px;
}

.ingredients ::marker {
    color: #e4ba00;
    font-size: 21px;
}

#content .steps {
    margin-block-start: 0;
    padding-left: 84px;
    font-size: 18px;
}

#content .steps li {
    vertical-align: top;
    text-align: justify;
}

.steps ::marker {
    color: #e4ba00;
    font-size: 72px;
}

#content h2 {
    margin-block-end: 0px;
}