#content {
    margin: 0 auto;
    width: 700px;
    border-radius: 10px;
    background-color: #ebebeb;
    margin: 100px auto 50px auto;
    padding: 40px;
    box-shadow: 0px 2px 20px #818181;
}

@media screen and (max-width: 800px) {
    #content {
        width: auto;
        margin: 100px 20px 50px 20px;
    }
}

#content #title, #content h1 {
    font-size: 62px;
    margin-block: 0em;
}

#content .user, #content .created_at {
    display: inline;
    text-decoration: none;
    color: #e4ba00;
    opacity:1;
    font-size: 17px;
    font-weight: 600;
    transition: 200ms;
    margin-right: 25px;
}

#content .description {
    margin-top: 40px;
    text-align: justify;
    overflow-wrap: break-word;
    hyphens: manual;
    width: 100%;
}

#content .ingredients {
    margin-block-start: 0;
    list-style-type: disc;
    padding-left: 25px;
    font-size: 18px;
}

.ingredients ::marker {
    color: #e4ba00;
    font-size: 21px;
}

#content .steps {
    margin-block-start: 0;
    padding-left: 84px;
    font-size: 18px;
}

#content .steps li {
    vertical-align: top;
    text-align: justify;
}

.steps ::marker {
    color: #e4ba00;
    font-size: 72px;
}

#content h2 {
    margin-block-start: 0px;
    display: inline;
}

input[type=text] {
    width: 100%;
    margin: 10 0;
}

.ingredients input[type=text] {
    width: 32.8%;
}

@media screen and (max-width: 800px) {
    .ingredients input[type=text] {
        width: 100%;
    }
}

.ingredients input[type=submit] {
    width: 100%;
}

.create_post {
    float: right;
    margin-right: 0px !important;
    padding: 5px;
}

.listRecipeAccount {
    margin-block-start: 1em;
}

.listRecipeAccount a {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
}

.listRecipeAccount a:hover {
    opacity:0.5;
}

.listRecipeAccount p {
    font-size: 25px;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 10px;
}

.recipeAccount {
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    border-left-width: 10px;
    border-color: #e4ba00;
    background: #e4ba0025;
    margin: 15px 0;
}

.recipeAccount:first-child {
    margin-top: 0;
    margin-bottom: 10px;
}

.recipeAccount:last-child {
    margin-top: 10px;
    margin-bottom: 0px;
}
