body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #1E1E23;
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.full-site {
    /*height: 100vh; DA RISOLVERE BUG SCHERMATA PICCOLA */ 
    overflow: hidden;
}

#header {
    color: #F5F6FA;
    margin: 0;
}

#header h1 {
    margin: 0 0 0 90px;
}

#content {
    padding: 100px 0;
}

input, textarea {
    font-size: 20px;
    font-weight: 600;
    padding: 13px;
    transition: 200ms;
    border-radius: 10px;
    opacity:1;
    font-family: 'Inter', sans-serif;
    resize: none;
}

.button, input[type=submit] {
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #F5F6FA;
    opacity:1;
    font-size: 20px;
    font-weight: 600;
    padding: 13px;
    transition: 200ms;
    border-radius: 10px;
    background-color: #e4ba00;
    cursor: pointer;
}

.button:hover, input[type=submit]:hover,a:hover {
    opacity:0.5;
}

input[type=text],
input[type=password] {
    border: 1px solid #1E1E23;
    color: #1E1E23;
}